:root.theme-light {
  --page-bg-image: url(../images/cover-image-light.png);
  --page-bg-color: #fff1f7;
  --main-text-color: #353430;
  --accent-color: #ff8dcb;
  --decoration-text-color: #ffc2e6;
  --button-hover: rgba(50, 49, 45, 0.4);
  --text-shadow: 4px 4px 0 var(--accent-color);
  --text-shadow-decor: 2px 2px 0 var(--accent-color);
  --link-text-shadow: 1.7px 1px 0 var(--accent-color);
  --color-text-highlight: var(--main-text-color);
  --title-decor-color: var(--main-text-color);
  --element-visible: block;
}

@media (prefers-color-scheme: light) {
  :root {
    --page-bg-image: url(../images/cover-image-light.png);
    --page-bg-color: #fff1f7;
    --main-text-color: #353430;
    --accent-color: #ff8dcb;
    --decoration-text-color: #ffc2e6;
    --button-hover: rgba(50, 49, 45, 0.4);
    --text-shadow: 4px 4px 0 var(--accent-color);
    --text-shadow-decor: 2px 2px 0 var(--accent-color);
    --link-text-shadow: 1.7px 1px 0 var(--accent-color);
    --color-text-highlight: var(--main-text-color);
    --title-decor-color: var(--main-text-color);
    --element-visible: block;
  }
}
