:root.theme-light {
  --page-bg-image: url(../images/cover-image-light.png);
  --page-bg-color: #fff1f7;
  --main-text-color: #353430;
  --accent-color: #ff8dcb;
  --decoration-text-color: #ffc2e6;
  --button-hover: rgba(50, 49, 45, 0.4);
  --color-text-highlight: var(--main-text-color);
  --title-decor-color: var(--main-text-color);
}

:root.theme-light .header__rec-indicator {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root.theme-auto {
    --page-bg-image: url(../images/cover-image-light.png);
    --page-bg-color: #fff1f7;
    --main-text-color: #353430;
    --accent-color: #ff8dcb;
    --decoration-text-color: #ffc2e6;
    --button-hover: rgba(50, 49, 45, 0.4);
    --color-text-highlight: var(--main-text-color);
    --title-decor-color: var(--main-text-color);
  }

  :root.theme-auto .header__rec-indicator {
    display: none;
  }
}
