:root {
  --page-bg-image: url(../images/cover-image-dark.png);
  --page-bg-color: #000028;
  --font: "IBM Plex mono";
  --main-font-size: 18px;
  --main-line-height: 1.3;
  --main-text-color: #f1b2ce;
  --accent-color: #ff0070;
  --decoration-text-color: #db00ff;
  --decoration-text-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --button-hover: rgba(255, 0, 112, 0.4);
  --page-gap: 40px;
  --section-gap: 50px;
  --content-padding: 0 10px;
  --content-gap: 20px;
  --gallery-gap: 10px;
  --weight-decor: normal;
  --card__title--margin-bottom: 10px;
  --text-shadow: 4px 4px 0 var(--accent-color);
  --link-text-shadow: 1.7px 1px 0 var(--accent-color);
  --page-min-height: 668px;
  --color-text-highlight: var(--accent-color);
  --title-decor-color: var(--page-bg-color);
}

@media (width >= 768px) {
  :root {
    --page-min-height: 1024px;
    --section-padding: 0 20px;
    --decoration-text-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --page-gap: 60px;
    --section-gap: 80px;
    --content-padding: 0 20px;
    --gallery-gap: 20px;
  }
}

@media (width >= 1024px) {
  :root {
    --page-min-height: 768px;
    --content-gap: 20px 10px;
  }
}
